body {
    font-family: 'Ubuntu', sans-serif;
    h3 {
        font-weight: bold;
        color: #648cff;
    }
    :active,
    :hover,
    :focus {
        outline: 0;
        outline-offset: 0;
    }
    .social {
        max-width: 12em;
    }
}

.main {
    color: #fff;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    .navbar {
        padding-top: 30px;
        margin-bottom: 100px;
        .logo {
            font-weight: bold;
            font-size: 24px;
        }
    }
    .nav {
        li {
            margin-right: 1em;
        }
        a {
            text-decoration: none;
            color: rgb(213, 213, 213);
        }
        justify-content: space-around;
        a .active {
            color: #fff;
        }
    }
    .m_left {
        max-width: 25em;
        .tagline {
            padding-top: 2em;
            padding-bottom: 1em;
            font-weight: bold;
        }
    }
    .buttons {
        display: flex;
        .button_1,
        .button_2 {
            width: 9em;
            height: 3em;
            line-height: 3em;
            text-align: center;
            border-radius: 5px;
            margin-top: 46px;
        }
        a {
            color: #fff;
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
        }
        .button_1 {
            margin-right: 12px;
            background: #fc6a42;
        }
        .button_2 {
            background: #4466c9;
        }
    }
    .m_right {
        img {
            width: 100%;
        }
    }
    .wrapper {
        text-align: center;
        .down {
            background-image: url('../img/Shape\ 1\ copy.png');
            background-repeat: no-repeat;
            border: none;
            border-radius: 30px;
            background-size: cover;
            background-position: center;
            width: 54px;
            height: 53px;
            margin-top: 4rem;
            a {
                width: 42px;
                height: 47px;
                display: block;
            }
        }
    }
}

#features {
    .main_head {
        text-align: center;
        margin-top: 125px;
        margin-bottom: 125px;
        span {
            color: #b3b3b3;
        }
    }
    .features .item {
        padding-left: 6rem;
        position: relative;
        p {
            color: #b3b3b3;
            font-size: 16px;
        }
    }
    .slider {
        button {
            border: none;
            background-color: transparent;
        }
        .slick-current {
            background-color: transparent;
        }
        .slide {
            img {
                width: 100%;
                height: auto;
                border-radius: 0;
                width: 44%;
            }
        }
    }
    .f1:before {
        content: '';
        position: absolute;
        background-image: url('../img/icon.png');
        background-position: center;
        background-repeat: no-repeat;
        width: 79px;
        height: 62px;
        left: -4px;
    }
    .f2:before {
        content: '';
        position: absolute;
        background-image: url('../img/icon1.png');
        background-position: center;
        background-repeat: no-repeat;
        width: 79px;
        height: 62px;
        left: -4px;
    }
    .f3:before {
        content: '';
        position: absolute;
        background-image: url('../img/icon2.png');
        background-position: center;
        background-repeat: no-repeat;
        width: 79px;
        height: 62px;
        left: -4px;
    }
    h3 {
        margin-top: 190px;
        text-align: center;
    }
    .screen {
        margin-bottom: 27rem;
        .left {
            img {
                width: 100%;
            }
        }
        .right {
            padding-top: 22%;
            .screen_desc {
                h3 {
                    margin: 3rem 0;
                    text-align: left;
                }
                p {
                    font-size: 24px;
                }
                .circles {
                    position: relative;
                    margin-top: 6rem;
                    .circle {
                        &:nth-child(1) {
                            left: 80px;
                        }
                        &:nth-child(2) {
                            left: 30px;
                        }
                        &:nth-child(3) {
                            left: -14px;
                        }
                        width: 60px;
                        height: 60px;
                        line-height: 55px;
                        text-align: center;
                        border-radius: 50%;
                        border: 2px solid #f5f5f5;
                        box-shadow: 0px 0px 18px 3px #f0f0f0;
                        color: #b3b3b3;
                        position: absolute;
                        background: #fff;
                    }
                }
            }
        }
    }
    .screen2 {
        img {
            z-index: 0;
        }
        .left {
            .bubbles {
                .bubble_1 {
                    background: #f2a14e;
                }
                .bubble_2 {
                    background: #fc6a42;
                }
            }
        }
        .right {
            .sun {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 2px solid #648cff;
            }
        }
    }
}

#reviews {
    .reviews_head {
        text-align: center;
        margin-top: 125px;
        margin-bottom: 125px;
        span {
            color: #b3b3b3;
        }
    }
    .quote_right,
    .quote_left {
        p {
            font-size: 24px;
            margin-top: 20px;
            ;
        }
        .quote_1,
        .quote_2 {
            p:nth-child(3) {
                font-size: 18px;
            }
            img:nth-child(4) {
                margin-left: 80%;
            }
            margin-bottom: 7rem;
        }
    }
}

#download_app {
    background-image: url('../img/bg_app.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -22em 0;
    background-color: #648cff;
    .how {
        h3 {
            color: #fff;
        }
        margin: 21% 0;
        color: #fff;
        p {
            font-size: 18px;
            margin: 2rem 0;
            max-width: 33em;
        }
        .buttons {
            display: flex;
            flex-wrap: wrap;
            .button_1 {
                margin-right: 10px;
            }
        }
    }
    .how_phones {
        img {
            margin-top: 4rem;
            width: 100%;
            height: 25rem;
        }
    }
}

footer {
    background: #353854;
    .f_navbar {
        padding-top: 30px;
        margin-bottom: 100px;
    }
    .f_nav {
        li {
            margin-right: 1em;
        }
        justify-content: space-around;
        display: flex;
        list-style: none;
        a {
            text-decoration: none;
            color: #b3b3b3;
        }
    }
    hr {
        color: #b3b3b3;
    }
    .rights {
        color: #888686;
        font-size: 11px;
    }
}