@media only screen and (max-width: 992px) {
    .btn_play {
        box-shadow: 0 0 21px blue;
    }
    #your_plan h2 {
        width: 100% !important;
    }
    #your_plan .plan-left {
        text-align: center;
    }
    #your_plan .plan-left .switcher {
        margin-left: auto;
        margin-right: auto;
    }
    #your_plan .plan-left {
        margin-top: 0 !important;
    }
    header .nav {
        display: none;
    }
    header .nav_adaptive {
        display: block !important;
        line-height: 1rem;
    }
    header .nav_adaptive .nav_left .burger {
        margin-left: auto;
        margin-right: auto;
    }
    header .nav_adaptive .nav_right .button {
        margin-left: auto;
        margin-right: auto;
    }
    #protect .your_day .wrapper {
        margin-top: 8rem !important;
    }
    header {
        background-image: url('../img/Background_adaptive.png') !important;
    }
    header .info p {
        color: #5f6165 !important;
        text-shadow: 2px 2px 4px white;
        font-size: 1.2em !important;
    }
    header .iphone_5 {
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
    footer .download {
        display: block;
    }
    .mod_for_s {
        padding-left: 2rem;
        margin-top: 3rem;
    }
    header .nav {
        display: none;
    }
    header .nav_adaptive {
        display: block !important;
        line-height: 1em;
    }
    header .nav_adaptive .nav_left .burger {
        margin-left: auto;
        margin-right: auto;
    }
    header .nav_adaptive .nav_right .button {
        margin-left: auto;
        margin-right: auto;
    }
    #protect .your_day .wrapper {
        margin-top: 8rem;
    }
    header .info p {
        color: #5f6165 !important;
        text-shadow: 2px 2px 4px white;
        font-size: 1em !important;
    }
    header .iphone_5 {
        display: none !important;
    }
}

@media only screen and (max-width: 320px) {
    footer .download {
        float: none;
        margin: 2em;
    }
    footer {
        text-align: center;
    }
    header .nav {
        display: none;
    }
    header .nav_adaptive {
        display: block !important;
    }
    header .nav_adaptive .nav_left .burger {
        margin-left: auto;
        margin-right: auto;
    }
    header .nav_adaptive .nav_right .button {
        margin-left: auto;
        margin-right: auto;
    }
    #protect .your_day .wrapper {
        margin-top: 8rem;
    }
    #protect .your_day .wrapper h2 {
        margin-bottom: 3rem;
    }
    #protect .we_are .logos {
        display: flex;
    }
    header .nav_adaptive {
        display: none !important;
    }
    header .iphone_5 {
        display: flex !important;
        line-height: 1em;
    }
    header {
        padding-bottom: 6em !important;
    }
    header .info {
        margin-top: 4em !important;
    }
    header .info p {
        color: #5f6165 !important;
        text-shadow: 2px 2px 4px white;
        font-size: 1em !important;
    }
    header .info h1 {
        font-size: 2em !important;
    }
    #interface .wrapper2 .search {
        width: 93%;
    }
    #interface .wrapper2 .search input {
        width: 100% !important;
    }
    #interface .wrapper2 .search button {
        right: 25% !important;
        top: 4em !important;
    }
    #interface {
        background-position: center 18rem;
    }
    #slider .slider {
        width: 95%;
    }
    body h2 {
        font-size: 2em !important;
    }
    footer ul {
        margin-bottom: 3em;
    }
    footer .f_bottom {
        margin-top: 4rem !important;
        text-align: center;
    }
    footer .f_bottom img {
        float: none !important;
    }
}