@media screen and (max-width: 992px) {
  #project .devices {
    margin-top: 3em !important; } }
@media screen and (max-width: 550px) {
  .f_bottom {
    text-align: center; } }
@font-face {
  font-family: GothamRounded;
  src: url(fonts/gothamrounded-light.otf); }
@font-face {
  font-family: 'ProximaNovaRegular';
  src: url(fonts/proximanova-regular.otf); }
@font-face {
  font-family: ProximaNovaSemibold;
  src: url(fonts/proximanova-semibold.otf); }
body :active,
body :hover,
body :focus {
  outline: 0;
  outline-offset: 0; }

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700; }

p {
  font-size: 18px;
  color: #888888;
  width: 100%; }

.main {
  height: 890px;
  background-image: url("../img/main_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #ffffff; }
  .main .logo {
    color: #fff;
    margin-bottom: 2rem;
    position: relative;
    padding-top: 60px;
    margin-left: 43px;
    margin-bottom: 200px; }
    .main .logo:before {
      content: '';
      position: absolute;
      background-image: url("../img/icons/Briefcase.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 25px;
      height: 25px;
      left: -40px; }
  .main h1 {
    font-family: GothamRounded; }
  .main p {
    font-family: ProximaNovaRegular;
    margin: 35px 0;
    color: #ffffff;
    font-size: 15px; }
  .main .dash {
    background: #fff;
    width: 23px;
    height: 1px;
    margin-bottom: 35px; }
  .main button {
    font-family: ProximaNovaSemibold;
    color: #ffffff;
    border: 2px solid #fff;
    background: transparent;
    height: 56px;
    width: 155px;
    cursor: pointer; }

#services {
  background-image: url("../img/3.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10em 0; }
  #services .dash {
    margin: 2rem 0 3rem 0;
    background: #000;
    width: 23px;
    height: 1px; }
  #services p {
    max-width: 23rem;
    font-size: 18px;
    font-family: ProximaNovaRegular;
    color: #888888;
    text-shadow: -1px 0px 0px #ffffff; }

#works {
  height: 300px;
  display: flex;
  align-items: center; }
  #works .dash {
    margin: 2rem 0 3rem 0;
    background: #000;
    width: 23px;
    height: 1px; }
  #works h2 {
    font-weight: 700; }
  #works p {
    max-width: 23rem;
    font-size: 18px;
    font-family: ProximaNovaRegular;
    color: #888888; }

#project {
  background: #28282e;
  padding: 10em 0; }
  #project h2 {
    color: #fff; }
  #project .dash {
    margin: 2rem 0 3rem 0;
    background: #FFF;
    width: 23px;
    height: 1px; }
  #project p {
    font-size: 18px;
    font-family: ProximaNovaRegular;
    color: #fff;
    margin-bottom: 4rem;
    max-width: 36em; }
  #project .col-md-12 button {
    margin-left: auto;
    margin-right: auto;
    display: block; }
  #project button {
    font-family: ProximaNovaSemibold;
    color: #ffffff;
    border: 2px solid #fff;
    background: transparent;
    height: 56px;
    width: 155px;
    cursor: pointer; }
  #project .nav {
    border: none;
    justify-content: space-evenly; }
    #project .nav a:hover {
      border: none; }
    #project .nav .active {
      background: transparent;
      border: none; }
    #project .nav .nav-link:nth-child(1) .icon2 {
      display: none; }
    #project .nav .nav-link:nth-child(1).active .icon2 {
      display: block; }
    #project .nav .nav-link:nth-child(1).active .icon1 {
      display: none; }
    #project .nav .nav-link:nth-child(2) .icon2 {
      display: none; }
    #project .nav .nav-link:nth-child(2).active .icon2 {
      display: block; }
    #project .nav .nav-link:nth-child(2).active .icon1 {
      display: none; }
    #project .nav .nav-link:nth-child(3) .icon2 {
      display: none; }
    #project .nav .nav-link:nth-child(3).active .icon2 {
      display: block; }
    #project .nav .nav-link:nth-child(3).active .icon1 {
      display: none; }
  #project .devices {
    margin-top: -2em;
    text-align: center; }
    #project .devices #myTabContent img {
      height: auto;
      width: 100%; }

#our_minds p {
  color: #989898; }
#our_minds .wrapper {
  padding: 5rem 0; }
#our_minds table {
  width: 100%; }
  #our_minds table p {
    width: 33rem;
    color: #989898;
    padding: 2rem 0; }
  #our_minds table td {
    height: 3rem; }
  #our_minds table td:nth-child(1) {
    width: 60%; }
  #our_minds table td:nth-child(2) {
    width: 20%; }
  #our_minds table td:nth-child(3) {
    width: 20%; }
  #our_minds table tr:nth-child(odd) {
    border-bottom: 1px solid #c1bdbd; }
  #our_minds table .with_bg {
    background-image: url("../img/table img.png");
    color: #fff; }
    #our_minds table .with_bg p {
      color: #fff; }
    #our_minds table .with_bg td {
      vertical-align: top;
      padding-top: 14px; }
#our_minds .all_articles {
  color: red;
  text-align: center;
  display: block;
  margin: 2rem 0; }

#we {
  background-image: url("../img/4.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10em 0; }
  #we small {
    color: red;
    position: relative;
    margin-left: 28px; }
    #we small:before {
      content: '';
      width: 17px;
      height: 1px;
      background: #000;
      left: -27px;
      position: absolute;
      top: 10px; }
  #we p {
    margin-top: 2rem; }
  #we .img_we {
    display: flex;
    margin: 7rem 0 0 -4rem;
    transform: scale(0.7); }
    #we .img_we .sq-column {
      transform: rotate(45deg); }
      #we .img_we .sq-column .square .sq-content .ident {
        animation: members 8s ease-in-out infinite; }
      #we .img_we .sq-column .square:nth-child(2) .ident {
        animation: members 8s ease-in-out 2s infinite; }
      #we .img_we .sq-column .square:nth-child(3) .ident {
        animation: members 8s ease-in-out 4s infinite; }
      #we .img_we .sq-column .square {
        height: 11vw;
        width: 11vw;
        margin: -2vw 6.4vw 3vw 0vw;
        position: relative;
        overflow: hidden; }
        #we .img_we .sq-column .square:hover .ident {
          display: block;
          animation: members 2s linear; }
@keyframes members {
  from {
    display: block; }
  8% {
    display: none; }
  to {
    display: none; } }
      #we .img_we .sq-column .sq-content {
        transform: rotate(-45deg);
        position: relative; }
        #we .img_we .sq-column .sq-content img {
          margin: -28px 0px 0 -24px; }
        #we .img_we .sq-column .sq-content .ident {
          display: none;
          position: absolute;
          top: 7px;
          transition: all 2s; }
          #we .img_we .sq-column .sq-content .ident span {
            position: absolute;
            top: 8rem;
            left: 18%;
            text-align: center;
            z-index: 1;
            color: #fff;
            width: 9rem; }
          #we .img_we .sq-column .sq-content .ident .bg {
            opacity: .8; }

#Slow_life {
  padding: 10em 0;
  background: #28282e;
  color: #ffffff; }
  #Slow_life h2 {
    font-family: 'Merriweather', serif;
    text-align: center;
    margin: 0 0 3rem 0;
    font-weight: lighter; }
  #Slow_life p {
    color: #ffffff;
    text-align: center;
    margin: 4rem auto;
    max-width: 34rem; }
  #Slow_life .carousel .carousel-indicators {
    bottom: -50px; }
    #Slow_life .carousel .carousel-indicators li {
      width: 2em;
      height: .3em;
      background: #fff;
      border-radius: 24px;
      margin-top: 3rem;
      margin-left: 1rem; }

footer .red_line {
  height: 120px;
  background: #ef4035; }
  footer .red_line p {
    color: #ffffff;
    line-height: 120px;
    text-align: center; }
footer .f_bottom {
  background: #28282e;
  color: #989898;
  padding: 70px 0; }
  footer .f_bottom a {
    color: #989898;
    text-decoration: none; }

/*# sourceMappingURL=style.css.map */
