body {
    font-family: 'Exo', sans-serif;
}

.btn_try {
    a {
        padding: 14px 50px;
        background-color: #ff6d6d;
        border-radius: 5px;
        color: #ffffff;
    }
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

h2 {
    font-size: 40px;
    margin-bottom: 45px;
    margin: 10px 0;
}

.text_wrapper {
    color: #717171;
    font-weight: 500;
    margin-top: 3rem;
    line-height: 26px;
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
    height: auto;
}

.main {
    background-image: url('../img/bg_header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    h1 {
        font-family: 'Exo', sans-serif;
        font-weight: 100;
        font-size: 60px;
    }
    .h_content {
        padding: 220px 0;
    }
    .btn_play {
        a {
            color: #8185a3;
        }
        font-size: 60px;
        padding: 36px 0;
        color: #000;
    }
    small {
        font-size: 14px;
        color: #777779;
        ;
    }
}

.red_text {
    color: #fb8686;
    font-weight: 500;
}

.design {
    background-image: url('../img/des_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .content {
        padding: 165px 0;
        span {
            color: #fb8686;
            ;
        }
    }
}

.features {
    background-image: url('../img/BG.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .content {
        padding: 130px 0;
        img {
            margin: 23px 0;
            max-width: 65px;
        }
        .text_wrapper {
            margin-top: 20px;
            max-width: 34rem;
        }
    }
}

.descr {
    background-image: url('../img/descr_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @media only screen and (max-width: 992px) {
        h2 {
            text-align: center;
            text-shadow: 2px 1px 5px #f6f6f6;
        }
        .red_text {
            color: #fff1ff;
        }
        .text_wrapper {
            text-align: center;
            margin-left: auto;
            margin-right: auto;
            text-shadow: 1px 0px 6px #f6f6f6;
        }
    }
    .content {
        padding: 100px 0;
        span {
            color: #fb8686;
        }
        .text_wrapper {
            width: 100%;
        }
    }
}

.clients {
    background-image: url('../img/BG_client.png');
    background-size: cover;
    background-repeat: no-repeat;
    .content {
        padding: 95px 0;
        h5 {
            color: #ffffff;
        }
        img {
            max-width: 65px;
            margin-bottom: 12px;
        }
    }
    .logos {
        flex-wrap: wrap;
        img {
            max-width: 5rem;
            max-height: 56px;
            margin-top: 45px;
            margin-right: 12%;
        }
    }
}

.browser {
    background-color: #f6f5f3;
    .content {
        padding-top: 100px;
        img {
            max-width: 761px;
        }
        .text_wrapper {
            max-width: 45rem;
            margin-top: 2rem;
            margin-bottom: 5rem;
        }
    }
}

.try {
    background-color: #323969;
    .content {
        padding: 90px 0;
        h2 {
            color: #ffffff;
            margin-bottom: 6rem;
        }
        @media only screen and (max-width: 992px) {
            .btn_wrapper {
                margin-top: 4rem;
            }
        }
        .btn_wrapper {
            max-width: 13rem;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            .wrapper {
                color: #ffffff;
                position: absolute;
                top: -4rem;
                &:before {
                    content: '';
                    position: absolute;
                    background-image: url('../img/ARROW.png');
                    background-repeat: no-repeat;
                    background-size: contain;
                    width: 3rem;
                    height: 3rem;
                    right: 10rem;
                }
            }
        }
        .form {
            input {
                padding: 5px 11px;
                border-radius: 5px;
                background-color: #464c77;
                border: 1px solid #a8aabc;
                color: #fff;
                margin-bottom: 3rem;
                &::-webkit-input-placeholder {
                    color: #f6f5f3;
                }
                &::-moz-placeholder {
                    color: #f6f5f3;
                }
            }
        }
        .sign_up {
            color: #a8aabc;
            a {
                color: #a8aabc;
                text-decoration: underline;
            }
        }
    }
}

footer {
    background-image: url('../img/f_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .content {
        padding: 80px 0;
    }
    .text_wrapper {
        @media only screen and (max-width: 992px) {
            font-size: 13px;
        }
    }
    h5 {
        margin-top: 1rem;
    }
    ul {
        list-style: none;
        padding: 0;
        color: #717171;
        font-weight: 500;
        margin-top: 2rem;
        li {
            margin-top: 12px;
            a {
                color: #717171;
                text-decoration: none;
                @media only screen and (max-width: 992px) {
                    font-size: 13px;
                }
                &:hover {
                    color: #717171;
                }
            }
        }
    }
    .mail {
        position: relative;
        input {
            padding-left: 1rem;
            width: 100%;
            margin-top: 2rem;
            border-radius: 2px;
            background-color: #f6f6f6;
            border: 1px solid #717171;
            height: 31px;
        }
        .button {
            position: absolute;
            width: 35px;
            height: 35px;
            top: 2rem;
            right: -1px;
        }
    }
    .logo {
        max-width: 7rem;
    }
    .social {
        img {
            max-width: 4rem;
        }
    }
}