.slider {
    width: 100%;
    max-width: 1200px;
    /* background-color: red; */
    margin: 100px auto;
    position: relative;
    /* border: 1px solid #000 */
}

.slick-current {
    height: 500px;
}

.slider .slider-item {
    /* width: 100px; */
    /* height: 100px; */
    /* width: 100%; */
    border-radius: 20px;
    box-shadow: 1px 1px 1px #000;
    width: 300px;
    margin: 0 auto;
    /* background-color:#FFC107; */
}

.slider h3 {
    text-align: center;
    text-transform: uppercase;
}

.slider img,
p {
    margin: 2rem auto;
}

.slider div img:nth-child(1) {
    width: 18rem;
    height: auto;
    margin: 0 auto;
}

.slider p {
    width: 44rem;
    text-align: center;
}

.slick-arrow {
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.slick-next {
    right: -10px;
    background: transparent;
    border: 0;
}

.slick-prev {
    left: -10px;
    background: transparent;
    border: 0;
}