body {
    h1,
    h2,
    h3 {
        font-family: 'Varela Round', sans-serif;
    }
    p {
        font-family: 'Varela Round', sans-serif;
        color: #8c8f94;
        font-size: 20px;
    }
    h2 {
        font-size: 45px;
    }
    :active,
    :hover,
    :focus {
        outline: 0;
        outline-offset: 0;
    }
    button {
        cursor: pointer;
    }
    .input-group {
        border: 1px solid #cbcbce;
        max-width: 23em;
        border-radius: 2em;
        width: 95%;
        input {
            background-color: transparent;
            border: none;
        }
        button {
            border: none;
            border-radius: 2em !important;
            background-color: #6fc754;
            margin: 5px;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
    }
}

header {
    padding-bottom: 34rem;
    background-image: url('../img/iPhone_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .row {
        width: 100%;
    }
    .nav_adaptive {
        display: none;
    }
    .nav {
        padding-top: 3rem;
        a {
            text-decoration: none;
            color: #8c8f94;
        }
        .button {
            background: #267df4;
            color: #fff;
            border-radius: 24px;
            padding: 9px 11px 9px 37px;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                background-image: url('../img/Apple\ Icon.png');
                width: 52%;
                height: 52%;
                left: 9px;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
    .nav_left {
        justify-content: space-between;
        display: flex;
        align-items: center;
    }
    .wrapper {
        position: relative;
        text-align: center;
        color: #fff;
        width: 40px;
        height: 40px;
        #hamb {
            z-index: 3;
            position: absolute;
            width: 2rem;
            height: 2rem;
            left: 0;
            top: 0;
            opacity: 0;
        }
        .lines {
            position: absolute;
            top: 26%;
            text-align: center;
            left: 25%;
        }
        label {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
            z-index: 2;
            display: block;
        }
        .burger-line {
            height: 2px;
            width: 20px;
            background: #000;
            right: 10px;
            margin-bottom: 5px;
        }
        .second {
            top: 5px;
        }
        .third {
            top: 10px;
        }
        .main-menu {
            a:hover {
                color: #ffffff;
            }
            width: 5rem;
            position: absolute;
            top: 40px;
            left: 0px;
            background: black;
            overflow: hidden;
            transition: .5s all;
        }
        .main-menu {
            height: 0;
        }
        #hamb:checked~.main-menu {
            height: 125px;
        }
        #hamb:checked~.first {
            transform: rotate(4deg);
        }
        #hamb:checked~.third {
            transform: rotate(-45deg);
        }
        #hamb:checked~.second {
            display: none;
        }
    }
    .nav_center {
        text-align: center;
        align-items: center;
    }
    .nav_right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .info {
        max-width: 770px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 140px;
        text-align: center;
        h1 {
            font-size: 62px;
        }
        p {
            color: #a5a7ab;
            font-size: 20px;
            margin: 3rem 0;
        }
    }
    .btn_play {
        border: 2px solid #dee1e3;
        border-radius: 24px;
        position: relative;
        display: inline-block;
        padding: 0% 5%;
        text-align: center;
        line-height: 35px;
        background-color: #f4f4f5;
        a {
            text-decoration: none;
            color: #000;
        }
        &:before {
            content: '';
            position: absolute;
            background-image: url('../img/Play\ Icon.png');
            background-repeat: no-repeat;
            background-size: cover;
            height: 12px;
            width: 12px;
            top: 12px;
            left: 23px;
        }
    }
}

#protect {
    padding: 3rem 0;
    .time {
        .wrapper {
            margin-top: 3rem;
        }
        span {
            font-size: 26px;
            display: block;
            margin: 40px 0;
        }
        p {
            font-size: 18px;
            width: 100%;
        }
    }
    .your_day {
        background-image: url('../img/iPhone_bg2.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .wrapper {
            margin-top: 17rem;
            h2 {
                margin-bottom: 5rem;
            }
            p {
                font-size: 20px;
                color: #8c8f94;
                text-shadow: 2px 2px 2px white;
            }
            .buttons {
                margin-top: 5rem;
                display: flex;
                .btn_1,
                .btn_2 {
                    border-radius: 38px;
                    height: 42px;
                    line-height: 40px;
                }
                .btn_1 {
                    background: #267df4;
                    color: #fff;
                    margin-right: 12px;
                    width: 202px;
                    position: relative;
                    span {
                        margin-left: 12px;
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        background-image: url('../img/Arrow\ Icon.png');
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 16px;
                        height: 16px;
                        top: 13px;
                        left: 10rem;
                    }
                }
                .btn_2 {
                    border: 2px solid #f1f1f2;
                    width: 142px;
                    text-align: center;
                }
            }
        }
    }
    .we_are {
        background-image: url('../img/World\ Map.png');
        background-repeat: no-repeat;
        background-size: contain;
        .wrapper {
            margin-top: 9rem;
        }
        .logos {
            margin-top: 20px;
            img {
                margin-right: 30px;
                margin-bottom: 1em;
            }
        }
        p {
            margin: 3rem 0;
        }
    }
}

#interface {
    padding: 123px 0;
    background: #f5f5f8;
    background-image: url('../img/Screens.png');
    background-position: center 23rem;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    .wrapper {
        display: inline-block;
    }
    .line {
        width: 50px;
        height: 2px;
        background: #267df4;
        display: inline-block;
        margin: 45px;
    }
    .wrapper2 {
        margin-top: 64%;
        h2 {
            margin: 1em 0;
        }
        .download {
            margin: 10rem 0 1rem 0;
            button {
                background-color: transparent;
                border: 0;
            }
        }
    }
}

#slider {
    padding: 3rem 0;
}

#your_plan {
    background: #f4f4f5;
    padding: 12% 0;
    h2 {
        margin-bottom: 4rem;
        width: 24rem;
    }
    .plan-left {
        margin-top: 200px;
        .switcher {
            border-radius: 25px;
            display: flex;
            border: 1px solid #a0a3a9;
            width: 14rem;
            height: 2rem;
            line-height: 38px;
            height: 45px;
            margin-bottom: 4rem;
            margin-top: 12px;
        }
        .btn_1 {
            margin-right: 2rem;
            margin-left: 9px;
            background: #fff;
            box-shadow: 1px 3px 17px 1px #8c8f94;
            border-radius: 25px;
            width: 6rem;
            height: 30px;
            text-align: center;
            margin-top: 6px;
            line-height: 30px;
            transform: scale(1.08);
        }
        .talk {
            color: #8c8f94;
            a {
                text-decoration: underline;
            }
        }
    }
    .plan-right {
        text-align: center;
        span {
            display: inline-block;
            margin-bottom: 17px;
            font-weight: bold;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                background-image: url('../img/On\ Icon.png');
                background-position: center;
                background-size: contain;
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                left: -29px;
            }
        }
        p {
            margin: 5rem 0;
        }
        .head {
            font-size: 35px;
            font-weight: lighter;
            margin-top: 60px;
            margin-bottom: 12px;
            padding-top: 47px;
        }
        small {
            border: 1px solid #8c8f94;
            border-radius: 25px;
            padding: 2px 16px;
        }
        .starter {
            margin-top: -2rem;
            background: #fff;
            height: 39rem;
            box-shadow: 0 6px 20px 0px #8c8f94;
            position: relative;
            z-index: 1;
            a {
                border: 0;
                background: #267df4;
                color: #fff;
            }
        }
        .pro,
        .starter {
            a {
                border-radius: 2em;
                padding: 3% 19%;
                text-decoration: none;
                display: inline-block;
                margin-top: 3em;
            }
        }
        .pro {
            background: #eaeaec;
            height: 40em;
            a {
                border: 1px solid #267df4;
                background: transparent;
                color: #267df4;
            }
        }
        .starter,
        .pro {
            border-radius: 5px;
        }
    }
}

#subscribe {
    text-align: center;
    height: 346px;
    h2 {
        margin-top: 6rem;
        margin-bottom: 2rem;
    }
    .subscribe {
        border: 1px solid #cbcbce;
        border-radius: 24px;
        display: inline-block;
        padding: 0 5px;
        margin-bottom: 1rem;
        input {
            border: 0;
            height: 51px;
            background: transparent;
            color: #000;
            padding-left: 9px;
        }
        button {
            border: 0;
            color: #fff;
            background: #6fc754;
            border-radius: 24px;
            height: 40px;
            width: 6rem;
            text-align: center;
            cursor: pointer;
        }
    }
    small {
        display: block;
        color: #8c8f94;
    }
}

footer {
    button {
        background-color: transparent;
        border: 0;
    }
    p {
        font-size: 14px;
        margin: 2rem 0;
        width: 100%;
    }
    ul {
        list-style: none;
        padding: 0;
        margin-top: 1rem;
        li {
            margin-bottom: 6px;
        }
        a {
            text-decoration: none;
            color: #8c8f94;
        }
    }
    .f_bottom {
        margin-top: 13rem;
        margin-bottom: 1rem;
        a {
            text-decoration: underline;
        }
        img {
            float: right;
        }
    }
}