@import "helpers/_variables.scss";

body {
	font-family: 'Open Sans', sans-serif;
}


i {
	color: $green_color;
}

ul {
	list-style: none;
	margin: 0;
}


.descr {
	max-width: 83%;
	line-height: 2;
	margin: 0 auto;
}

.btn {
	background-color: #CFC91D !important;
	margin-top: 3rem;
	border-radius: 0;

}

img {
	max-width: 100%;
}

h2 {
	color: $green_color;
	font-weight: bold !important;
	font-size: 3rem !important;
}

.nav-wraper {
	background-color: $green_color;
	position: fixed;
	width: 100%;
	z-index: 99;
}

.trigger {
	width: 30px;
	display: none;
	padding: 11px 0;
	font-size: 0;
	box-sizing: content-box;
}

.trigger__line {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 4px;
	vertical-align: bottom;
	background: #fff;
	transition: background .3s .5s;

	&::before,
	&::after {
		content: "";
		position: absolute;
		left: 0;
		width: 100%;
		height: 4px;
		background: #fff;
		transform-origin: 50% 50%;
		transition: top .3s .3s, transform .3s;
		transition: top .3s .3s, transform .3s;
	}

	&::before {
		top: 10px;
	}

	&::after {
		top: -10px;
	}
}

.trigger--show .trigger__line {
	width: 28px;
	background: 0 0;
	transition: background 0s linear;
}

.trigger--show .trigger__line::before,
.trigger--show .trigger__line::after {
	width: 28px;
	top: 0;
	left: 0;
	transition: top .3s, transform .3s .5s;
}

.trigger--show .trigger__line::before {
	transform: rotate3d(0, 0, 1, 45deg);
}

.trigger--show .trigger__line::after {
	transform: rotate3d(0, 0, 1, -45deg);
}

section {
	padding: 4.2rem 0;
	overflow: hidden;
}


.departs {
	display: flex;
	margin: 0;



	li {
		margin-right: 2rem;

		a {
			color: #fff !important;

			&:hover {
				color: #fff !important;
			}
		}
	}

	&.active {
		display: block;
		height: auto;
		width: 100%;
		padding: 0;
		opacity: 1;
		transition: all .6s linear;

		li {
			padding: 1rem 0;
		}
	}
}


.main-head {
	background-image: url(../images/bg.jpg);
	background-size: cover;
	height: 39rem;
	background-attachment: fixed;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 3rem;

	.main-head_wraper {
		text-align: center;




		.h1 {
			font-size: 72px;
			letter-spacing: 2rem;
		}

		.above-h1 {
			font-size: 30px;
		}
	}
}



.title-page {
	text-align: center;


}

.stages {
	display: flex;
	padding: 0;
}

.stages,
.service-stages {
	&-border {
		border-right: 1px solid #d0d0d0;
	}

	&_item {
		text-align: center;
	}



	h3 {
		padding: 1rem 0;
	}

	p {
		font-size: 12px;
		line-height: 2;

	}

}

#services {
	background-color: #E9E7E0;

}

.services-img {


	img {
		height: 100%;
	}
}

.folio {
	position: relative;
	overflow: hidden;
	transition: .5s;


	.hcaption {
		position: absolute;
		background-color: rgba(25, 145, 141, 0.801);
		opacity: 0;
		text-align: center;
		color: #fff;
		padding: 1.3rem;
		max-width: 226px;
		height: 168px;

		top: 100%;
		right: 50%;
		margin-right: -113px;
		margin-top: -84px;

		transition: .5s;

		.descr {
			font-size: 12px;
			line-height: normal;
		}
	}

	&:hover {


		.hcaption {
			opacity: 1;
			top: 50%;

		}

	}

	.folio-work {
		transition: .5s;
	}
}

#contact-us {
	padding-bottom: 0;
}

.write-us {
	text-align: center;
	padding: 3rem 0;
}

.form {
	text-align: center;
	color: #fff;

	.form_item {
		display: block;
		margin: 0 auto 12px;
		background-color: transparent;
		border: none;
		border-bottom: 1px solid rgb(151, 151, 151);
		text-align: center;
		color: rgb(231, 231, 231);
		width: 30%;

	}

	textarea.form_item {
		border-top: 1px solid rgb(151, 151, 151);
		width: 45%;
	}
}

.footer {
	color: #777777;
	padding: 1rem;
	text-align: center;
	background-color: #000;
}