@media screen and (max-width: 992px) {
    #project .devices {
        margin-top: 3em !important;
    }
}

@media screen and (max-width:550px) {
    .f_bottom {
        text-align: center;
    }
}

@font-face {
    font-family: GothamRounded;
    src: url(fonts/gothamrounded-light.otf);
}

@font-face {
    font-family: 'ProximaNovaRegular';
    src: url(fonts/proximanova-regular.otf);
}

@font-face {
    font-family: ProximaNovaSemibold;
    src: url(fonts/proximanova-semibold.otf);
}

body {
    :active,
    :hover,
    :focus {
        outline: 0;
        outline-offset: 0;
    }
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

p {
    font-size: 18px;
    color: #888888;
    width: 100%;
}

.main {
    height: 890px;
    background-image: url('../img/main_bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ffffff;
    .logo {
        color: #fff;
        margin-bottom: 2rem;
        position: relative;
        padding-top: 60px;
        margin-left: 43px;
        margin-bottom: 200px;
        &:before {
            content: '';
            position: absolute;
            background-image: url('../img/icons/Briefcase.png');
            background-size: contain;
            background-repeat: no-repeat;
            width: 25px;
            height: 25px;
            left: -40px;
        }
    }
    h1 {
        font-family: GothamRounded;
    }
    p {
        font-family: ProximaNovaRegular;
        margin: 35px 0;
        color: #ffffff;
        font-size: 15px;
    }
    .dash {
        background: #fff;
        width: 23px;
        height: 1px;
        margin-bottom: 35px;
    }
    button {
        font-family: ProximaNovaSemibold;
        color: #ffffff;
        border: 2px solid #fff;
        background: transparent;
        height: 56px;
        width: 155px;
        cursor: pointer;
    }
}

#services {
    background-image: url('../img/3.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10em 0;
    .dash {
        margin: 2rem 0 3rem 0;
        background: #000;
        width: 23px;
        height: 1px;
    }
    p {
        max-width: 23rem;
        font-size: 18px;
        font-family: ProximaNovaRegular;
        color: #888888;
        text-shadow: -1px 0px 0px #ffffff;
    }
}

#works {
    height: 300px;
    display: flex;
    align-items: center;
    .dash {
        margin: 2rem 0 3rem 0;
        background: #000;
        width: 23px;
        height: 1px;
    }
    h2 {
        font-weight: 700;
    }
    p {
        max-width: 23rem;
        font-size: 18px;
        font-family: ProximaNovaRegular;
        color: #888888;
    }
}

#project {
    background: #28282e;
    padding: 10em 0;
    h2 {
        color: #fff;
    }
    .dash {
        margin: 2rem 0 3rem 0;
        background: #FFF;
        width: 23px;
        height: 1px;
    }
    p {
        font-size: 18px;
        font-family: ProximaNovaRegular;
        color: #fff;
        margin-bottom: 4rem;
        max-width: 36em;
    }
    .col-md-12 {
        button {
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
    button {
        font-family: ProximaNovaSemibold;
        color: #ffffff;
        border: 2px solid #fff;
        background: transparent;
        height: 56px;
        width: 155px;
        cursor: pointer;
    }
    .nav {
        border: none;
        justify-content: space-evenly;
        a:hover {
            border: none;
        }
        .active {
            background: transparent;
            border: none;
        }
        .nav-link:nth-child(1) {
            .icon2 {
                display: none;
            }
            &.active {
                .icon2 {
                    display: block;
                }
                .icon1 {
                    display: none;
                }
            }
        }
        .nav-link:nth-child(2) {
            .icon2 {
                display: none;
            }
            &.active {
                .icon2 {
                    display: block;
                }
                .icon1 {
                    display: none;
                }
            }
        }
        .nav-link:nth-child(3) {
            .icon2 {
                display: none;
            }
            &.active {
                .icon2 {
                    display: block;
                }
                .icon1 {
                    display: none;
                }
            }
        }
    }
    .devices {
        margin-top: -2em;
        text-align: center;
        #myTabContent {
            img {
                height: auto;
                width: 100%;
            }
        }
    }
}

#our_minds {
    p {
        color: #989898;
    }
    .wrapper {
        padding: 5rem 0;
    }
    table {
        width: 100%;
        p {
            width: 33rem;
            color: #989898;
            padding: 2rem 0;
        }
        td {
            height: 3rem;
        }
        td:nth-child(1) {
            width: 60%;
        }
        td:nth-child(2) {
            width: 20%;
        }
        td:nth-child(3) {
            width: 20%;
        }
        tr:nth-child(odd) {
            border-bottom: 1px solid #c1bdbd;
        }
        .with_bg {
            background-image: url('../img/table\ img.png');
            p {
                color: #fff;
            }
            td {
                vertical-align: top;
                padding-top: 14px;
            }
            color: #fff;
        }
    }
    .all_articles {
        color: red;
        text-align: center;
        display: block;
        margin: 2rem 0;
    }
}

#we {
    background-image: url('../img/4.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10em 0;
    small {
        color: red;
        position: relative;
        margin-left: 28px;
        &:before {
            content: '';
            width: 17px;
            height: 1px;
            background: #000;
            left: -27px;
            position: absolute;
            top: 10px;
        }
    }
    p {
        margin-top: 2rem;
    }
    .img_we {
        display: flex;
        margin: 7rem 0 0 -4rem;
        transform: scale(.7);
        .sq-column {
            transform: rotate(45deg);
            .square {
                .sq-content {
                    .ident {
                        animation: members 8s ease-in-out infinite;
                    }
                }
                &:nth-child(2) {
                    .ident {
                        animation: members 8s ease-in-out 2s infinite;
                    }
                }
                &:nth-child(3) {
                    .ident {
                        animation: members 8s ease-in-out 4s infinite;
                    }
                }
            }
            .square {
                height: 11vw;
                width: 11vw;
                margin: -2vw 6.4vw 3vw 0vw;
                position: relative;
                overflow: hidden;
                &:hover {
                    .ident {
                        display: block;
                        animation: members 2s linear;
                    }
                }
                @keyframes members {
                    from {
                        display: block;
                    }
                    8% {
                        display: none;
                    }
                    to {
                        display: none;
                    }
                }
            }
            .sq-content {
                transform: rotate(-45deg);
                position: relative;
                img {
                    margin: -28px 0px 0 -24px;
                }
                .ident {
                    display: none;
                    position: absolute;
                    top: 7px;
                    transition: all 2s;
                    span {
                        position: absolute;
                        top: 8rem;
                        left: 18%;
                        text-align: center;
                        z-index: 1;
                        color: #fff;
                        width: 9rem;
                    }
                    .bg {
                        opacity: .8;
                    }
                }
            }
        }
    }
}

#Slow_life {
    padding: 10em 0;
    background: #28282e;
    color: #ffffff;
    h2 {
        font-family: 'Merriweather', serif;
        text-align: center;
        margin: 0 0 3rem 0;
        font-weight: lighter;
    }
    p {
        color: #ffffff;
        text-align: center;
        margin: 4rem auto;
        max-width: 34rem;
    }
    .carousel {
        .carousel-indicators {
            bottom: -50px;
            li {
                width: 2em;
                height: .3em;
                background: #fff;
                border-radius: 24px;
                margin-top: 3rem;
                margin-left: 1rem;
            }
        }
    }
}

footer {
    .red_line {
        height: 120px;
        background: #ef4035;
        p {
            color: #ffffff;
            line-height: 120px;
            text-align: center;
        }
    }
    .f_bottom {
        background: #28282e;
        color: #989898;
        padding: 70px 0;
        a {
            color: #989898;
            text-decoration: none;
        }
    }
}