@font-face {
    font-family: GillSans;
    src: url(../font/GillSans/GillSans-Bold-02.woff) format("woff"), url(../font/GillSans/GillSans-Bold-02.woff2) format("woff2"), url(../font/GillSans/GillSans-Bold-02.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Encore;
    src: url(../font/Encore/PFEncoreSansPro-UBlack.woff) format("woff"), url(../font/Encore/PFEncoreSansPro-UBlack.woff2) format("woff2"), url(../font/Encore/PFEncoreSansPro-UBlack.ttf) format("truetype");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: Merel;
    src: url(../font/Merel/Merel-Black.woff) format("woff"), url(../font/Merel/Merel-Black.woff2) format("woff2"), url(../font/Merel/Merel-Black.ttf) format("truetype");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: Sans;
    src: url(../font/Sans/PTSans-Web-Bold.woff) format("woff"), url(../font/Sans/PTSans-Web-Bold.woff2) format("woff2"), url(../font/Sans/PTSans-Web-Bold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Socicon;
    src: url(../font/socicon/Socicon.eot);
    src: url(../font/socicon/Socicon.eot#iefix) format("embedded-opentype"), url(../font/socicon/Socicon.woff2) format("woff2"), url(../font/socicon/Socicon.ttf) format("truetype"), url(../font/socicon/Socicon.woff) format("woff"), url(../font/socicon/Socicon.svg#Socicon) format("svg");
    font-weight: 400;
    font-style: normal
}




/*---------------MIXING------------------*/

@mixin btn_play {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid rgb(255, 255, 255);
    border-bottom: 50px solid transparent;
    position: relative;
    top: -13rem;
    left: 15rem;
    z-index: 3;
    transition: .7s;

    &:hover {
        transform: scale(1.3);
    }

    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-top: 27px solid transparent;
        border-left: 54px solid #2cfff5;
        border-bottom: 27px solid transparent;
        top: -26px;
        left: -85px;
    }
}

@mixin btn_events {
    background: linear-gradient(#7a26a0, #331ab6);
    color: #fff;
    padding: 8px 39px;
    border-radius: 10px;
    font-size: 21px;
    margin: 0 auto;
    display: block;
    width: 5rem;
    margin-top: 31px;
}

@mixin bg_phrase {
    position: absolute;
    top: -8rem;
    opacity: .2;
    right: -14rem;
    z-index: 0;

    h3 {
        position: relative;
        font-size: 17rem;
        line-height: 97px;
        color: #fff;
        text-align: right;
        display: inline-block;
    }

    small {
        position: absolute;
        bottom: 140px;
        font-size: 3rem;
        left: 36rem;
    }
}

@mixin hover_img {
    &:hover {
        clip-path: polygon(0 0, 82% 0, 85% 100%, -10% 92%);
        transform: rotate(3deg);
    }

    transition: .6s;
    cursor: pointer;
}

/*-------------------------------------------------------------------------------*/

a {
    text-decoration: none !important;
    color: #fff !important;
}

h3 {
    font-size: 3rem;
    color: #fff;
    line-height: 4rem;
}

p {
    font-size: 21px;
    line-height: 38px;
    color: #fff;
}

.img {
    &:hover {
        clip-path: polygon(0 0, 82% 0, 85% 100%, -10% 92%);
        transform: rotate(3deg);
    }

    transition: .6s;
    cursor: pointer;
}

body {
    margin: 0;
    font: 700 18px/22px Sans, Arial, Helvetica, sans-serif;
    color: #fff;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden
}

.menu {
    position: fixed;
    z-index: 30;
    height: 100vh;
    width: 100%;
    left: 100%;
    bottom: 100%;
    transition: all .5s ease;
}

.menu_active {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.menu__outer {
    width: 100%;
    height: 100%;
    top: 0;
}

.menu__bg:before {
    display: block;
    background: url(/img/menu_bg.jpg) left bottom no-repeat #2a1793;
    background-size: cover;
    position: absolute;
    opacity: 0;
    transform: scale(0);
    border-radius: 50%;
    width: 800px;
    height: 800px;
    top: -358px;
    right: -358px;
    transition: all .5s ease;
}

.menu__bg,
.menu__outer {
    position: absolute;
    left: 0;
}

.menu__bg {
    width: 100%;
    height: 100%;
    background-color: #1a0f58;
    ;
}

.menu_active .menu__bg:before {
    opacity: 1;
    transform: scale(3);
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.menu__planner {
    max-width: 980px;
    margin: auto;
    width: 100%;
}

.menu__navigation {
    font-size: 0;
    border: 2px solid #492b64;
    padding: 0;
}

.menu__item {
    display: inline-block;
    border: 2px solid #492b64;
    width: 16.20%;
    min-height: 165px;
    vertical-align: top;


}

.menu__link:hover {
    color: #1F1D34;
    background-color: #FFF;
}

.menu__link {
    font: 900 12px/19px Merel, Arial, Helvetica, sans-serif;
    display: block;
    padding: 78px 0 45px;
    position: relative;
    transition: color .5s ease, background-color .5s ease;
    width: 100%;
}

.lang__link,
.menu__link {
    letter-spacing: 1px;
    text-transform: uppercase;
}

button {
    overflow: visible;
    box-sizing: border-box;
    border-radius: 0;
    cursor: pointer;
    border: 0;
    background: 0 0;
}

.menu__text {
    display: inline-block;
    max-width: 110px;
    color: #fff;

    &:hover {
        color: #000;
    }
}

.menu__item:nth-child(1) .menu__link:before {
    background-color: #a2fe04;
}


.menu__item:nth-child(3) .menu__link:before {
    background-color: #00fcff;
}

.menu__item:nth-child(5) .menu__link:before {
    background-color: #a2ff04;
}

.menu__item:nth-child(8) .menu__link:before {
    background-color: #f0ff00;
}

.menu__item:nth-child(10) .menu__link:before {
    background-color: #c84eff;
}

.menu__item:nth-child(12) .menu__link:before {
    background-color: #ffcb15;
}

.menu__link:before {
    display: block;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity .5s ease;
}

.menu__buttons:after,
.menu__link:before {
    content: "";
}

.menu__wrap {
    width: 1170px;
    opacity: 0;
    position: relative;
}

.menu_active .menu__wrap {
    opacity: 1;
    transition: opacity .5s ease .2s;
}

.menu__outer:before,
.menu__wrap {
    vertical-align: middle;
    display: inline-block;
}

.wrap {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
}

.btn_type_figure:before {
    height: 100%;
    top: 0;
    position: absolute;
    backface-visibility: hidden;
    background: #fa901d;
    opacity: 0;
    clip-path: polygon(0 0, 100% 10px, 95% 59px, 0 100%);
}

.menu__buttons {
    text-align: left;
    margin: 58px 0 56px;
    position: absolute;
    width: 74%;
}

.menu .btn_type_figure {
    margin-right: 25px;
}

.btn_type_figure {
    padding: 0 35px;
    height: 68px;
    min-width: 180px;
    -webkit-clip-path: polygon(0 0, 100% 10px, 95% 59px, 0 100%);
    clip-path: polygon(0 0, 100% 10px, 95% 59px, 0 100%);
    background: linear-gradient(to right, #ffcb15 0, #fffc00 100%);
    text-align: center;
    color: #1f1d34;
    letter-spacing: 1px;
    backface-visibility: hidden;
}


a.btn_type_cross {
    padding-top: 1px;
}

.btn_type_cross {
    position: relative;
    display: inline-block;
    backface-visibility: hidden;
    height: 28px;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-appearance: none;
}

.menu .btn_type_cross:before {
    top: 15px !important;
}



.btn_type_cross:before,
.btn_type_figure:before {
    content: "";
    display: block;
    width: 100%;
    left: 0;
}

.btn_type_cross .btn__text {
    color: #fff;
    letter-spacing: 1.2px;
}

.menu .btn_type_cross_right {
    float: right;
    margin-top: 15px;
}

.btn_type_cross {
    position: relative;
    display: inline-block;
    backface-visibility: hidden;
    height: 28px;
    padding-top: 0;
    padding-bottom: 0;
    -webkit-appearance: none;
}

.menu__buttons:after {
    display: table;
    clear: both;
}

main {
    background: linear-gradient(to top left, #3f16c2 10%, #8a2ca5 50%, #3f16c2 100%);
    height: 100vh;
    width: 100vw;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    height: 100%;
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    align-items: center;
    color: #fff;
    padding-top: 2rem;

    li {
        display: flex;
        align-items: center;
    }

    .logo {
        height: 32px;
        width: 98px;
    }

    .order {
        margin-left: 1rem;
        padding: 6px 10px;
        border-radius: 35px;
        background-color: rgb(238, 124, 17);
    }

    .socials a {
        margin-left: 1rem;
    }
}

.menu_word {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    margin-right: 7rem;
}

/* Icon 1 */

#nav-icon1,
#nav-icon2,
#nav-icon3,
#nav-icon4 {
    width: 45px;
    height: 2rem;
    position: relative;
    margin-left: 2rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon1 span,
#nav-icon3 span,
#nav-icon4 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #ffffff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#nav-icon1 span:nth-child(1) {
    top: 0px;
}

#nav-icon1 span:nth-child(2) {
    top: 11px;
}

#nav-icon1 span:nth-child(3) {
    top: 22px;
}

#nav-icon1.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
    opacity: 0;
    left: -60px;
}

#nav-icon1.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#nav-icon1 {
    position: fixed;
    right: 7rem;
    z-index: 40;
}

.screen1 {
    display: flex;
    padding: 5rem 0;

    .glitch_logo {
        position: relative;
    }

    .logo {
        width: 320px;
        height: 107px;
    }

    .item {
        width: 50%;
    }

    .content {
        color: #fff;

        button {
            clip-path: polygon(0 0, 100% 10px, 95% 59px, 0 100%);
            background: linear-gradient(to right, #ffcb15 0, #fffc00 100%);
            text-align: center;
            letter-spacing: 1px;
            padding: 0 35px;
            height: 68px;
            min-width: 180px;
            margin-top: 2rem;
            cursor: pointer;
            transition: all 1s ease;

            button:hover {
                clip-path: polygon(0 0, 82% 0, 85% 100%, -10% 92%);
                transform: rotate(3deg);
            }

            a {
                color: #1f1d34 !important;
                padding: 20% 28%;
            }
        }
    }

    .drink {
        text-align: center;
        background-image: url(/img/bubbles-tablet.png);
        background-size: cover;
    }

    .drink img {
        width: 160px;
        height: 420px;
        margin: 0 auto;
    }
}

#section2 {
    background-image: url(/img/71-408b6934_133d_45e1_9c1b_eb031c182d18.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    color: #fff;
    text-align: center;
    position: relative;

    .bg_phrase {
        position: absolute;
        opacity: .3;
        font-size: 14rem;
        top: 12rem;
    }

    h3 {
        font-size: 4rem;
    }
}

#section3 {
    background-image: url(/img/42-img_block3.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    p {
        max-width: 460px;
        text-align: center;
    }

    .bg_phrase {
        position: absolute;
        opacity: .3;
        font-size: 14rem;
        top: 12rem;
        left: -9rem;
    }
}

#section4 {
    background: linear-gradient(to right top, #538cf8 30%, #29f0ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    .phrase {
        font-size: 14rem;
    }

    small {
        font-size: 4rem;
        position: absolute;
        bottom: -7rem;
        right: 7rem;
    }
}

#section5 {
    background: linear-gradient(-18deg, #29f0ff 21%, #538cf8 86%);

    .container {
        max-width: 960px;
        margin: 0 auto;
    }

    .wrap {
        display: flex;
        color: #fff;
        justify-content: center;
        align-items: center;
        height: inherit;
    }

    .text_wrap {
        width: 50%;
    }

    .text {
        max-width: 27rem;
    }

    p {
        line-height: 30px;
    }

    h3 {
        font-size: 65px;
        margin: 0;
    }

    .img {
        clip-path: polygon(0 0, 82% 0, 90% 100%, 10% 94%);
        position: relative;
        z-index: 2;
        bottom: -7rem;
        right: -7rem;
        transition: 2s;
        padding-top: 13%;

        &:hover {
            clip-path: polygon(0 0, 82% 0, 85% 100%, -10% 92%);
            transform: rotate(3deg);
        }

        img,
        .btn_play {
            cursor: pointer;
        }
    }

    iframe {
        height: 0;
    }

    .container {
        height: 100%;
    }

    .back_phrase {
        opacity: .4;
        position: relative;
        z-index: 1;
        top: -14rem;
        right: -9rem;

        .phrase {
            font-size: 14rem;
            position: relative;
        }

        small {
            font-size: 4rem;
            position: absolute;
            bottom: -2rem;
            right: 7rem;
        }
    }

    .btn_play {
        @include btn_play();
    }
}

#section6 {
    background: linear-gradient(-13deg, #538cf8 22%, #29f0ff 72%);

    .container {
        max-width: 960px;
        margin: 0 auto;
    }

    .wraper {
        display: flex;
        min-width: 100%;
        position: relative;

        .item {
            position: relative;
            z-index: 2;
            font-size: 56px;
            color: #fff;
            margin-top: 2rem;
        }
    }

    .item:nth-child(3) {
        text-align: right;
        margin-top: 4rem;
        position: absolute;
        right: 0;
        top: 9rem;
    }

    .bg_item img {
        position: absolute;
        height: 30rem;
        margin: auto;
        transform: translateX(-50%);
        left: 50%;
        margin-top: 7%;
    }

    .c_constructor {
        position: relative;
        bottom: -9rem;

        .coc {
            position: absolute;
            right: 45%;
        }

        .btns_drink {
            position: relative;
        }

        .drink {
            display: inline-block;

            &:after {
                content: '';
                position: absolute;
                height: 86px;
                width: 86px; // border: 1px pointed white;
                animation: rotate 4s linear infinite;
                border: 2px dotted white;
                border-radius: 50%;
                margin-left: -4px;
                margin-top: -90px;
            }
        }

        .drink_img {
            height: 83px;
            width: 83px;
            border-radius: 47px;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: top;
            display: inline-block;
            position: relative;
        }

        .drink1 .drink_img {
            background-image: url(/img/drinks/16-alc1.png);
        }

        .drink2 .drink_img {
            background-image: url(/img/drinks/17-alc2.png);
        }

        .drink2 {
            transform: translate(102%, 50%);
        }

        .drink3 .drink_img {
            background-image: url(/img/drinks/20-alc5.png);
        }

        .drink3 {
            transform: translate(9rem, -2rem);
        }

        .drink4 .drink_img {
            background-image: url(/img/drinks/90-prosseko.jpg);
        }

        .drink4 {
            transform: translate(19rem, -2rem);
        }

        .drink5 .drink_img {
            background-image: url(/img/drinks/91-rum.jpg);
        }

        .drink5 {
            transform: translate(23rem, 55%);
        }

        .drink6 .drink_img {
            background-image: url(/img/drinks/92-eger.jpg);
        }

        .drink6 {
            float: right;
        }

        @keyframes rotate {
            from {
                transform: rotate(0deg);
            }

            to {
                transform: rotate(180deg);
            }
        }
    }
}

#section7 {
    background: linear-gradient(155deg, #9c2fb3 20%, #3512eb 58%, #29178f 80%);

    h3 {
        position: relative;
        font-size: 10rem;
        line-height: 6rem;
        color: #fff;
        text-align: right;
        display: inline-block;
    }

    small {
        position: absolute;
        bottom: 101px;
        font-size: 3rem;
        left: 38rem;
    }
}

#section8,
#section9 {
    background: linear-gradient(128deg, #3512eb -3%, #1e1d35 36%, #29178d 136%);

    .container {
        position: relative;
    }

    .bg_phrase {
        position: absolute;
        top: 2rem;
        opacity: .2;
        left: -15rem;
        z-index: 0;

        h3 {
            position: relative;
            font-size: 10rem;
            line-height: 97px;
            color: #fff;
            text-align: right;
            display: inline-block;
        }

        small {
            position: absolute;
            bottom: 101px;
            font-size: 3rem;
            left: 47rem;
        }
    }

    .wraper {
        display: flex;
        position: relative;
        z-index: 2;
    }

    .text {
        text-align: right;
        color: #fff;

        h3 {
            font-size: 5rem;
        }
    }

    .imgs {
        img {
            display: block;
            height: 25rem;

            &:hover {
                clip-path: polygon(1% 8%, 100% 9%, 86% 96%, 20% 105%);
                transform: rotate(2deg);
                transition: .6s linear;
            }
        }

        .img1 {
            clip-path: polygon(0 0, 82% 0, 90% 100%, 10% 94%);
            margin-left: 4rem;
        }

        .img_wraper2 {
            margin-top: -12rem;
            margin-left: -4rem;
        }

        .img2 {
            clip-path: polygon(0 0, 82% 0, 90% 100%, 10% 94%);
            object-fit: contain;
            object-position: -15px -46px;
        }

        .img3 {
            clip-path: polygon(0 0, 82% 0, 90% 100%, 10% 94%);
            margin-top: -13rem;
            height: 15rem;
            margin-left: 5rem;
        }
    }
}

#section9 {
    background: linear-gradient(61deg, #38c19a 46%, #4ce97f 84%);

    .bg_phrase {
        left: -15rem;

        h3 {
            color: #fff;
            text-align: right;
        }

        small {
            left: 47rem;
        }
    }

    .wraper {
        display: flex;
        position: relative;
        z-index: 2;
    }

    .text {
        text-align: left;
        color: #fff;
        margin: auto;

        h3 {
            font-size: 5rem;
            margin: 0;
        }
    }

    .imgs {
        .img_wraper1 {
            margin-top: 12px;
        }

        .img_wraper2 {
            margin-top: 12px;
        }

        .img_wraper3 {
            margin-top: 12px;
        }

        .img_wraper4 {
            margin-top: 12px;
        }

        .img1 {
            object-fit: contain;
            object-position: 16px -46px;
            margin-left: 4rem;
            height: 20rem;
            margin-top: 6rem;
            transform: rotate(4deg);
            clip-path: polygon(4% 0%, 65% 0%, 90% 90%, 10% 94%);
        }

        .img2 {
            object-fit: contain;
            object-position: -10px -61px;
            margin-top: -12rem;
            margin-left: 23rem;
            transform: rotate(-4deg);
            clip-path: polygon(4% 0%, 65% 0%, 70% 90%, 30% 94%);
        }

        .img3 {
            object-fit: contain;
            object-position: -16px 10px;
            margin-top: -35rem;
            height: 13rem;
            margin-left: 28rem;
            transform: rotate(-6deg);
            clip-path: polygon(4% 0%, 65% 12%, 78% 90%, 10% 76%);
        }

        .img4 {
            object-fit: contain;
            object-position: -15px 6px;
            margin-top: 8rem;
            height: 8rem;
            margin-left: 7rem;
            position: relative;
            z-index: 2;
            width: 21rem;
            transform: rotate(7deg);
            clip-path: polygon(14% 0%, 65% 0%, 90% 90%, 10% 94%);
        }
    }
}

#section10 {
    background: linear-gradient(61deg, #38c19a 46%, #4ce97f 84%);

    .container {
        position: relative;
    }

    .wraper {
        display: flex;
        position: relative;

        .item {
            position: absolute;
            color: #fff;
            font-size: 54px;
            width: 48%;

            &:nth-child(3) {
                text-align: right;
                right: 0;
                top: 19rem;
            }

            &:nth-child(2) {
                z-index: 1;
            }

            &:nth-child(1),
            &:nth-child(3) {
                z-index: 2;
            }
        }

        img {
            height: 43rem;
            transform: translate(50%);
        }
    }

    .bg_phrase {
        position: absolute;
        top: -8rem;
        opacity: .2;
        right: -14rem;
        z-index: 0;

        h3 {
            position: relative;
            font-size: 17rem;
            line-height: 97px;
            color: #fff;
            text-align: right;
            display: inline-block;
        }

        small {
            position: absolute;
            bottom: 140px;
            font-size: 3rem;
            left: 36rem;
        }
    }
}

#section11 {
    background: linear-gradient(46deg, #fa901e 46%, #f5c924 82%);

    .wraper {
        height: 100%;
    }

    .bg_phrase {
        color: #fff;
        display: flex;
        align-items: center;
        height: 100%;

        h3 {
            position: relative;
            font-size: 12rem;
            margin: 0;
        }

        small {
            position: absolute;
            bottom: -6rem;
            font-size: 3rem;
            left: 48rem;
            width: 21%;
        }
    }
}

#section12 {
    background: linear-gradient(128deg, #fa901e 46%, #f5c924 82%);

    .wraper {
        display: flex;
        position: relative;

        .tag {
            color: #fff;
            position: relative;
            z-index: 2;
            font-size: 7rem;
            bottom: -5rem;
            left: 1rem;
        }

        .item {
            position: absolute;

            &:nth-child(2) {
                color: #fff;
                right: 0;
                max-width: 19rem;
                text-align: right;

                h3 {
                    font-size: 3rem;
                }
            }
        }
    }

    .img {
        clip-path: polygon(0 0, 82% 0, 90% 100%, 10% 94%);
        -o-object-fit: contain;
        object-fit: contain;
        -o-object-position: -15px -46px;
        object-position: -15px -46px;
    }

    .img_wraper {
        position: relative;
        z-index: 3;

        &:nth-child(1) {
            height: 20rem;
            z-index: 2;
        }

        &:nth-child(2) {
            margin-left: 10rem;
        }

        &:nth-child(4) {
            float: right;
            margin-top: -2rem;
        }
    }

    .bg_phrase {
        position: absolute;
        opacity: .2;
        z-index: 0;

        h3 {
            position: relative;
            font-size: 14rem;
            /* line-height: 97px; */
            color: #fff;
            text-align: right;
            left: -61rem;
            width: 99rem;
            top: -12rem;
            /* display: inline-block; */
            box-shadow: 4px -7px 4px 3px brown;
        }

        small {
            position: absolute;
            font-size: 3rem;
        }
    }
}

#section13 {
    background: linear-gradient(128deg, #fa901e 46%, #f5c924 82%);
}

#section14 {
    background: linear-gradient(41deg, #5ba8fa 4%, #23f2ff 74%, #68d8ff 89%);
    ;

    .wraper {
        padding-top: 5rem;
    }

    .slider_wrap {
        position: relative;
        z-index: 2;
        height: 400px;
        overflow: hidden;

        .event {
            display: flex !important;
            align-items: center;
        }
    }

    .text {
        color: #fff;

        h3 {
            font-size: 3rem;
        }

        strong {
            color: #23f2ff;
        }
    }

    .img {
        position: relative;

        img {
            clip-path: polygon(0 0, 82% 0, 90% 100%, 10% 94%);
        }

        .btn_play {
            @include btn_play();
        }
    }

    .slider_wrap .event {
        padding: 0 4rem;
        height: auto;
        display: none;
        position: absolute;
        top: 0;
        left: 20px;
    }

    .slider_wrap span {
        margin-top: -13px;
        width: 49px;
        height: 53px;
        display: block;
        position: absolute;
        top: 50%;
        cursor: pointer;
        background: url(/img/right-arrow.png) no-repeat;
        background-size: cover;
    }

    .slider_wrap span.next {
        right: 0;
        background: url(/img/left-arrow.png) no-repeat;
        background-position: 0 0;
        background-size: cover;
    }

    .slider_wrap span.next:hover {
        transform: scale(1.2);
    }

    .slider_wrap span.prev {
        left: 0;
        background-position: 0 0;
    }

    .slider_wrap span.prev:hover {
        transform: scale(1.2);
    }

    .btn_events {
        background: linear-gradient(#7a26a0, #331ab6);
        color: #fff;
        padding: 8px 39px;
        border-radius: 10px;
        font-size: 21px;
        margin: 0 auto;
        display: block;
        width: 5rem;
        margin-top: 31px;
    }

    .bg_phrase {
        @include bg_phrase();
        position: relative;
        top: -26rem;
        opacity: .5;
        right: 8rem;
        z-index: 0;
        font-size: 11rem;
        color: #16aed6;
        box-shadow: 4px 3px 15px 2px #217c94;
    }
}

#section15 {
    background: linear-gradient(51deg, #1f1d34 23%, #902da6 68%, #2f15bd 109%);

    .wraper {
        text-align: center;
    }

    h3 {
        font-size: 13rem;
        margin: 0;
        color: #fff;
        position: relative;
        top: 7rem;
        margin-bottom: 14rem;
    }

    .links {
        display: flex;
        justify-content: space-around;
        max-width: 30rem;
        margin: 60px auto;

        a:hover {
            background: linear-gradient(90deg, #5776f4, #3015bd);
        }
    }
}

#footer {
    height: 14% !important;
    background-color: #1e1d33;

    .footer__line {
        width: 100%;
        height: 4px;
        background: linear-gradient(to right, #cb60b3 0, #c146a1 4%, #a80077 31%, #366dd9 100%);
    }

    .wraper,
    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .item {
        a:hover {
            background: #f09433;
            background: -moz-linear-gradient(45deg, #ca33f0 0%, #be3ce6 25%, #a327dc 50%, #8023cc 75%, #4918bc 100%);
            background: -webkit-linear-gradient(45deg, #ca33f0 0%, #be3ce6 25%, #a327dc 50%, #8023cc 75%, #4918bc 100%);
            background: linear-gradient(45deg, #ca33f0 0%, #be3ce6 25%, #a327dc 50%, #8023cc 75%, #4918bc 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
        }

        svg:hover {
            fill: url(#grad4);
        }

        &:first-child {
            width: 25%;
        }

        &:nth-child(2) {
            width: 48%;
        }

        &:last-child {
            justify-content: flex-end;
            width: 27%;

            span {
                color: #c84eff;
            }

            svg {
                width: 74px;
            }
        }

        color: #fff;

        svg {
            height: 14px;
            fill: #fff;
            transition: all .6s ease;
        }
    }

    .wraper {
        height: 100%;
        align-items: center;
    }

    .item {
        padding: 0 32px;
    }
}

/*-----------------------------------Events Page-------------------------*/

#events {
    background: linear-gradient(96deg, #5776f4 27%, #73cffd 109%);

    .event_block {
        position: relative;
        z-index: 2;
        display: flex;
        color: #fff;
        align-items: center;
        height: 100%;

        p {
            line-height: 29px;
        }

        .btn_info {
            @include btn_events();
            width: 8rem;
            margin: 0;
        }

        .item:nth-child(2) {
            text-align: right;

            .btn_info {
                float: right;
            }
        }

        img {
            @include hover_img();
        }
    }

    .event2 {
        background: linear-gradient(96deg, #5776f4 27%, #73cffd 109%);
    }
}

/*--------------------------------------------------------------*/


.carousel-inner {
    img {
        width: 49% !important;
        margin: 0 auto;
    }
}

.section.toevent1 {
    background: linear-gradient(96deg, #5776f4 27%, #73cffd 109%);

    h3 {
        color: #fff;
        text-align: center;
        font-size: 4rem;
        padding: 3rem 0;
    }

    #nav-icon1 {
        top: 3rem;
    }

    a.carousel-control {
        display: none;
    }

    .container {
        padding: 5rem 0;
    }

    .btn_info {
        @include btn_events();
        color: #fff;
        width: 15rem;

    }

    .carousel-indicators {
        bottom: -5rem;
    }
}